@model IEnumerable<GuardEmpSignin.Models.GuardQueue>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var status = ViewBag.status;
}
<p>Status: <code>@status</code></p>
<h3>Guard Badge Queue Page</h3>
<br />
<div>
    @if (Model == null)
    {
        <h5>No Requests in Queue.</h5>
    }
    else
    {
        <table class="table">
            <thead>
            <th>Picture</th>
            <th>Name</th>
            <th>Badge</th>
            <th></th></thead>
            <tbody class="table-striped p-5 align-content-center">
                @foreach (var item in Model)
                {
                    @using (Html.BeginForm("Queue", "Guard", FormMethod.Post))
                    {
                        <tr class="align-middle"><td><img src=@item.TempEmpImg alt="Employee Image" width="80px" height="80px" style="border-radius:50%;" /></td><td class="Ename">@item.TempEmployee.EmployeeFirstName @item.TempEmployee.EmployeeLastName</td><td><input type="text" name="badge" id="@item.TempEmployee.Id" required /></td>                         <input type="hidden" name="UId" value="@item.TempEmployee.Id" /><input type="hidden" name="assignTime" value="@DateTime.Now">                             <td><input type="submit" value="Assign Badge" class="btn btn-search" /></td></tr>
                    }
                }
            </tbody>    
        </table>
    }
</div>